<footer class="bg-dark text-white py-4" style="background-color: #0B2239;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img class="" alt="Image placeholder" src="/static/logos/d360.png" style="height: 40px;">
          <div class="pt-3">
            <p style="font-weight: 300;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum consectetur eleifend.</p>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <div class="pt-3">
            <p style="font-weight: 300;">Email: info@example.com<br>Phone: (123) 456-7890</p>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#"><i class="fab fa-facebook">dalali360</i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i>dalali360</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i>dalali360</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">&copy; 2023 Dalali360. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  