<div style="background-color: #0B2239;">
    <div class="section">
        <div class="container">
            <div>
                <h1 style="color: white; font-weight: bold;">About</h1>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <p style="color: whitesmoke">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type 
                                specimen book. It has survived not only five
                                centuries, but also the leap into electronic typesetting, remaining essentially
                                unchanged. It was popularised in
                            </p>
                            
                            <div>
                                <button type="button" class="btn btn-outline-primary" style="border-radius: 20px; border-color: white; color: white;">Contact Us</button>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>