<div class="" style="background-color: white;">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Contact Us</h1>
                    <p>
                        Ready to take the next step toward success?
                    </p>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                          <label for="inputName" style="font-size: 25px;">*Name</label>
                          <input type="text" class="form-control form-input-line" id="inputName" placeholder="eg: John Doe" style="border: none; border-bottom: 1px solid #ccc; border-radius: 0; box-shadow: none; padding-left: 5;">
                        </div>
                        <div class="form-group pt-4">
                          <label for="inputEmail" style="font-size: 25px;">*Email</label>
                          <input type="text" class="form-control form-input-line" id="inputEmail" placeholder="eg: johndoe@gmail.com" style="border: none; border-bottom: 1px solid #ccc; border-radius: 0; box-shadow: none; padding-left: 5;">
                        </div>
                        <div class="form-group pt-4">
                          <label for="inputPassword" style="font-size: 25px;">*Phone</label>
                          <input type="text" class="form-control form-input-line" id="inputPassword" placeholder="eg: +255657871769" style="border: none; border-bottom: 1px solid #ccc; border-radius: 0; box-shadow: none; padding-left: 5;">
                        </div>
                        <div>
                          <p>(*) required</p>
                        </div>
                        <div class="d-grid gap-2">
                          <button class="btn" type="button" style="border-radius: 20px; background-color: #0B2239; color: white;">Submit</button>
                        </div>
                      </form>
                      
                      
                </div>
            </div>
        </div>
    </div>
</div>