<div class="pt-3 pb-3" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="align-items-center" style="color: white;">
                    Dalali Application is available now for android and 
                    ios. you can now download.
                </p>
            </div>
            <div class="col-md-6">
                <a href="#" class="btn download-btn" style="background-color: #034274; color: white; border-radius: 25px;">
                    <span class="icon"></span>
                    Download Now
                  </a>
            </div>
        </div>
    </div>
</div>