<div style="background-color: #0B2239;">
    <div class="section">
        <div class="section container">
            <div class="container">
                <div class="row d-flex">
                    <!-- Element aligned to the left -->
                    <div class="col-md-6">
                        <h1 style="color: white;">
                            Make your life easy by finding properties 
                            using your mobile application at any 
                            place you are.
                        </h1>
                        <div class="pt-5">
                            <button type="button" class="btn btn-outline-primary" style="border-radius: 20px; border-color: white; color: white;">Book a Demo</button>
                        </div>
                    </div>
                    <!-- Element aligned to the right -->
                    <div class="col-md-6">
                        
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>