<div class="section" style="background-color: #D7DCDA;">
    <div class="container">
        <h1>Solutions</h1>
        <div class="row pt-3">
            <div class="col-md-4">
                <div class="card" style="border-radius: 0px;">
                    <div class="pt-5 text-center">
                        <img  src="/static/images/HomeIcon2.png" class="img-fluid min-h-150" alt="Image" style="height: 150px;">
                    </div>
                    <div class="card-body">
                      <h2 class="card-title" style="font-weight: 700; color: #0B2239;">House Renting Management</h2>
                      <div class="pt-3">
                        <a href="#" class="" style="font-weight: 300;">Read More</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="border-radius: 0px;">
                    <div class="pt-5 text-center">
                        <img  src="/static/images/agent.jpg" class="img-fluid min-h-150" alt="Image" style="height: 150px;">
                    </div>
                    <div class="card-body">
                      <h2 class="card-title" style="font-weight: 700; color: #0B2239;">Connecting with all the Agents </h2>
                      <div class="pt-3">
                        <a href="#" class="" style="font-weight: 300;">Read More</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="border-radius: 0px;">
                    <div class="pt-5 text-center">
                        <img  src="/static/images/notification.png" class="img-fluid min-h-150" alt="Image" style="height: 150px;">
                    </div>
                    <div class="card-body">
                      <h2 class="card-title" style="font-weight: 700; color: #0B2239;">Get notified by the system </h2>
                      <div class="pt-3">
                        <a href="#" class="" style="font-weight: 300;">Read More</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>